* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 90px;
    color: #fff;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.content button {
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.content button:hover {
    background-color: #fff;
    color: #000;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

/* login page */
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-wrapper {
    background-color: #f3f3f3;
    height: 30%;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-wrapper h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.form-wrapper span {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.form-wrapper a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #e4e3e3;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    outline: none;
}

.social {
    margin: 20px 0;
}

.social a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: .3s ease-in-out;
}

.social a:hover {
    background: #426292;
    color: #FFF;
    transform: scale(1.1);
}

button {
    border-radius: 20px;
    border: none;
    background: #426292;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    transition: .3s ease-in-out;
    margin: 10px 0px;
}

button:hover {
    transform: scale(1.1);
}

@media (max-width:720px) {
    .form-wrapper {
        width: 60%;
    }
}

/* navbar */
.navbar {
    position: fixed;
    background-color: #192e5c;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.fa {
    color: white;
}

.fa-bars {
    float: left;
    margin-left: 25px;
    margin-top: 13px;
}

.brand-name {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    margin-left: 35px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.options {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    margin-right: 25px;
    margin-top: 20px;
    width: 23%;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.guide {
    display: inline;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.analyze {
    display: inline;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.logout {
    display: inline;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(135, 135, 135);
    cursor: pointer;
}

/* slider */
.demo-content {
    color: #fff;
    display: flex;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 56px;
    height: 250px;
    width: 100%;
}

.carousel__item:nth-child(1) .demo-content {
    background-color: #216485;
}

.carousel__item:nth-child(2) .demo-content {
    background-color: #3692b6;
}

.carousel__item:nth-child(3) .demo-content {
    background-color: #6fccc9;
}

.carousel__item:nth-child(4) .demo-content {
    background-color: #a6e3cf;
}

.carousel__item:nth-child(5) .demo-content {
    background-color: #aff0be;
}

.carousel__item:nth-child(6) .demo-content {
    background-color: #527059;
}

.carousel__item:nth-child(7) .demo-content {
    background-color: #243127;
}